* {
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family:'Open Sans',sans-serif;
}

.wrapper {
	width: 1100px;
	margin: auto;
	position: relative;
	justify-content: center;
	align-items: center;
}

.slider-wrapper {
    position: relative;
    max-width: 2500px;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
    height: 600px; 
    margin-top: 20px;
}

.slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth; 
    width: 100%; 
    height: 100%;
}

.slider-item {
    flex: 0 0 100%; 
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.slider-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.slider-nav a {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    cursor: pointer;
}

.slider-nav a:hover {
    background: rgba(255, 255, 255, 1);
}

.logo a {
	font-size: 80px;
	font-weight: 1000;
	float: left;
	font-family: comic sans-ms;
	color:#222831;
}

.menu {
	float: right;
}

nav {
	width: 100%;
	margin: auto;
	display: flex;
	line-height: 80px;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	background: #FFFFFF;
	z-index: 1;
	border-bottom: 1px solid #222831;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li{
	float:left;
}

nav ul li a {
	color: #31363F;
	font-weight: bold;
	text-align: center;
	padding: 0px 16px 0px 16px;
	text-decoration: none;
}

nav ul li i {
	font-size: 20px
}

nav ul a:hover {
	text-decoration: underline;
}

section {
	margin :auto;
	display: align-items;
	margin-bottom: 50px;
}

.kolom {
	margin-top: 50px;
	margin-bottom: 50px;
}

.kolom .deskripsi {
	font-size: 20px;
	font-weight: bold;
	font-family: 'comic sans-ms';
	color: #31363F;
}

h2 {
	font-family: 'comic sans-ms';
	font-weight: 800;
	font-size: 45px;
	margin-bottom: 20px;
	color: #31363F;
	width:100%;
	line-height: 50px;
}

a.tbl-biru {
	background: #76ABAE;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
}

a.tbl-biru:hover {
	background: #1B1A55;
	text-decoration: none;
}

a.tbl-pink {
	background: #6B728E;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px 15px 20px;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
}

a.tbl-pink:hover {
	background: #1B1A55;
	text-decoration: none;
}


p {
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
}

.kolom .discussion {
    font-size: 40px;
	font-weight: bold;
	font-family: 'comic sans-ms';
	color: #31363F;
	border: 2px solid #31363F; 
	padding: 10px;
	display: inline-block;
}

button {
	background-color: #0E2954;
    color: white; 
    border: none; 
    padding: 5px 10px;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

button:hover {
	background-color: #B0B0B0;
}

footer {
    background-color: #76ABAE;
    color: #333; 
    padding: 20px 10px;
}

footer a {
    color: #007bff; 
    text-decoration: none;
    font-size: 18px;
}

footer a:hover {
    text-decoration: underline; 
}

.footer-title h1 {
    font-size: 50px;
    font-weight: bold; 
    color: #333; 
    text-align: left; 
    margin-bottom: 10px; 
    text-decoration: underline;
    margin-left: 25px;
    font-family: comic sans-ms;
}

.footer-container {
    display: flex;
    justify-content: flex-start;
    gap: 50px; 
    align-items: flex-start; 
}

.contact-info p {
    margin: 5px 0; 
    font-size: 25px; 
    gap: 10px;
}

footer .social-links {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	margin-top: 5px;
}

footer .social-links a {
    display: inline-flex;
    margin: 5px 0; 
    align-items: center; 
    font-size: 30px; 
    color: #333; 
    transition: color 0.3s ease;
}

footer .social-links a i {
    margin-right: 8px; 
}

footer .social-links a:hover {
    color: #007bff;
}