body {
    background-color: #31363F;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.confirmation-container {
    background-color: #2E8A99;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 30px;
    max-width: 400px;
    width: 90%;
}

.confirmation-container h1 {
    color: black;
    font-size: 2em;
    margin: 0 0 10px;
}

.confirmation-container p {
    color: black;
    font-size: 1.2em;
}

.button-container {
    margin-top: 20px;
}
        
.button-container a {
    display: inline-block;
    background-color: #00008B; 
    color: white; 
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
        
.button-container a:hover {
    background-color: #FFFFFF; 
}
